@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.breakable {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.education ul, .education li {
    list-style: none;
    padding: 0;
}

.education .timeline {
    margin: 0;
    margin-top: 0.5em;
    border-radius: 12px;
    position: relative;
}

.education li {
    padding-bottom: 1.5rem;
    border-left: 1px solid #0d3d56;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
}

.education li:last-child {
    border: 0px;
    padding-bottom: 0;
}

.education li:before {
    content: '';
    width: 15px;
    height: 15px;
    background: #e0e2e4;
    border: 1px solid #0d3d56;
    -webkit-box-shadow: 0.2em 0.2em 0.1em #484f4f;
            box-shadow: 0.2em 0.2em 0.1em #484f4f;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
}

.custom-grid {
    grid-template-columns: minmax(0, max-content) minmax(0, 100%);
    grid-template-rows: auto auto;
}

@media only screen and (min-width: 640px) {
    .custom-shadow {
        box-shadow: .5vw .5vw .5vw #625750;
    }
}